<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Posts - {{ title }}</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <a href="/"><- Back</a>
    <h1>{{ title }}</h1>

    {% assign day = date | date: "%-d" %}

    <em>
      {{ date | date: "%B" }} {{ day }}{% case day %} {% when '1' or '21' or
      '31' %}st{% when '2' or '22' %}nd{% when '3' or '23' %}rd{% else %}th{%
      endcase %}, {{ date | date: "%Y" }}
    </em>

    <br />
    <p>{{ description }}</p>
    <hr />

    {{ content }}

    <hr />
    <em>Built with {{ eleventy.generator }}</em>
  </body>
</html>
